.nav-bar,
ul {
  width: 220px;
}

.menu-item a {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: "Quicksand";
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;

  color: #725c5c;
  border-bottom: 2px solid #e7e7e7;

  padding: 7px 24px;
}

.menu-item li {
  height: 33px;
  width: 220px;
}

.ativado {
  background-image: linear-gradient(#ffb354, #ee7a3a);

  width: 5px;
  height: 33px;
}

.ativado a {
  background-color: #fdf1eb;

  margin-left: 5px;
  width: 215px;
}

.menu-item a:hover {
  background-color: #e7e7e76e;
}
