.video-sec-left {
  /* width: 786px; */
}

.titulo-trabalho {
  font-size: 20px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #ed7839;

  margin-bottom: 19px;
}

.video-sec-left .video {
  width: 100%;
  max-width: 784px;
  margin-left: 2px;
  margin-top: 4px;
}
